body{
    background-color: #e6f0ff;
}

.calc{
    width: 25%;
    height: 520px;
    margin: 0px auto 0px auto;
    background-color:rgb(52, 185, 212);
    border: 2px solid white;
    box-shadow: 4px 4px 8px rgb(14, 205, 215);
    padding-right: 18px;
}

header>h1{
    text-shadow: 2px 2px 4px  rgb(14, 205, 215);
    font-size: 40px;
}

.result{
    width:90%;
}

input[type="button"]{
    padding: 22px;
    background-color: rgb(44, 60, 69);
    border: 2px solid white;
    font-size: 20px;
    color: white;
    transition: 0.3s;
}

input[type="tel"]{
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

input[type="reset"]{
    background-color:  rgb(44, 60, 69);
    border: 2px solid white;
    font-size: 20px;
    color: white;
    transition: 0.3s;
}
input[type="reset"]:hover,input[type="button"]:hover{
     border: 2px solid rgb(255, 255, 255);
     color: black;
     background-color: rgb(255, 145, 1) ;
    

}